.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .title {
    color:black;
    font-size: 14px;
  }
  
  input {
    border: none;
    outline: 0;
    display:inline-block;
    padding: 8px;
    color:grey;
    background-color:black;
    text-align: center;
    cursor: pointer;
    width: 50%;
    font-size: 18px;
    left: 50%;
    
  }
  
  .hm{
    text-decoration: none;
    font-size:large;
    color: black;
    font-style:italic;
    font-weight: bold;
  }
  
  input:hover, a:hover {
    opacity: 0.7;
  }
  h2{
      color: grey;
  }
  img{
    height: 200px;

  }