<div class="container">
    <div class="card-header">
        <h1>Home Page</h1>
        <h2>selling of flowers and gift wrapping</h2>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <img src="assets/img/flower1.jpg" alt="red" style="width:100%;">
                <h1 class="hm">RED ROSES</h1>
                <p class="title">Red roses symbolize love,courage and also signifies beauty and purity</p>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card">
                <img src="assets/img/flower2.jpg" alt="yellow" style="width:100%">
                <h1 class="hm">YELLOW ROSE</h1>
                <p class="title">yellow roses symbolize friendship and joy and also spreading happiness, it can be used
                    to better someone's day</p>



            </div>
        </div>

        <div class="col-sm-3">
            <div class="card">
                <img src="assets/img/flower3.webp" alt="white" style="width:100%">
                <h1 class="hm">WHITE ROSE</h1>
                <p class="title">White roses it is a gift thst allow you to express your respect and shows purity in
                    your thought</p>



            </div>
        </div>

        <div class="col-sm-3">
            <div class="card">
                <img src="assets/img/flower4.webp" alt="boutique" style="width:100%">
                <h1 class="hm">BOUQUET</h1>
                <p class="title">when these various flowers are artfully combine in a stunning fresh mixed bouquet they
                    become a fantastic gift for giving on all happy occasion</p>



            </div>
        </div>


    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <img src="assets/img/gift1.jpg" alt="gift1" style="width:100%;">
                <h1 class="hm">CHOCOLATE GIFT</h1>
                <p class="title">Chocolate gift design, we use all type of chocolate as u wish</p>



            </div>
        </div>

        <div class="col-sm-3">
            <div class="card">
                <img src="assets/img/gift2.jpg" alt="gift2" style="width:100%">
                <h1 class="hm">WEDDING GIFT</h1>
                <p class="title">We design your wedding gift and bride/groom gift</p>



            </div>
        </div>

        <div class="col-sm-3">
            <div class="card">
                <img src="assets/img/gift3.jpg" alt="gift3" style="width:100%">
                <h1 class="hm">BIRTHDAY GIFT</h1>
                <p class="title">We have many and uptodate desing for birthday events </p>



            </div>
        </div>

        <div class="col-sm-3">
            <div class="card">
                <img src="assets/img/gift4.jpg" alt="gift4" style="width:100%">
                <h1 class="hm">OFFICE GIFT</h1>
                <p class="title">The best wrapper of office gift in any kind of things </p>

            </div>
        </div>


    </div>
    <div class="row justify-content-center">

        <div class="col-md-6">
            <p><input [routerLink]="['/form']" type="submit" value="Ordering"></p>
        </div>
    </div>



</div>
<router-outlet></router-outlet>