<div  style="margin: 0;">
  <div class="bg bg-dark">
<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Flowers and Gifts Shop</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a [routerLink]="['home']">Home</a></li>
        <li><a [routerLink]="['form']">Ordering Form</a></li>
        <li><a [routerLink]="['viewlist']">View</a></li>
        <li><a [routerLink]="['']">LogOut</a></li>
      </ul>
    </div>
  </nav>
</div>
</div>
  <router-outlet></router-outlet>
    